# Print Command and Usage

In [2]:
print("Hi \nMehmet")
print("My name is \tAli")

Hi
Mehmet
My name is 	Ali

In [6]:
print("My name is {}".format("Mesut"))
print("My name is {}, my age is {}".format("Mesut",18))

print("My name is {0}, my age is {1}".format("Mesut",18))
print("My name is {1}, my age is {0}".format("Mesut",18))

print("My name is {name}, my age is {age}".format(name = "Mesut",age = 18))
print("My name is {name}, my age is {age}".format(age = 18,name = "Mesut"))

My name is Mesut
My name is Mesut, my age is 18
My name is Mesut, my age is 18
My name is 18, my age is Mesut
My name is Mesut, my age is 18
My name is Mesut, my age is 18

# Variables
Unacceptable variable name assignment scenarios:
+ Start with number
+ Contain spaces
+ "*(/ contain symbols sush as
+ Using reserved names

In [9]:
number = 10
print(number)

10

In [10]:
number = 11
print(number)

11

In [11]:
number = number + 1
print(number)

12

In [12]:
first_number = 10
print(first_number)

10

In [13]:
first_number = 10
_ = 20
a = 30

# Data Types

# Type       |Abbreviation|   Example
------------------------------------
Integer    |int         |3,10
Float      |float       |1.5,7.0
String     |str         |"Hi2","19"
Boolean    |bool        |True,False
List       |list        |[1,2,True,'a',1]
Set        |set         |{1,2,True}
Dictionary |dict        |{'Name': 'Mehmet', 'Age': 19}
Tuple      |tup         |(1,2,True)

### Numbers
+ int: integers
+ float: decimal numbers

In [15]:
type(1.5)

float

### Arithmetic Operations

In [16]:
3+5

8

In [17]:
3*5

15

In [18]:
5%3

2

In [20]:
3*4
3-5

-2

In [21]:
3+(4*2)

11

In [22]:
3.1 * 2.0

6.2

In [23]:
3.0 * 5

15.0

# Articles

P |Y |T |H |O |N
_________________
0 |1 |2 |3 |4 |5
0 |-5|-4|-3|-2|-1

In [24]:
strvar = "Python"
print(strvar)

Python

In [25]:
strvar[-3]

'h'

In [26]:
strvar[2:]

'thon'

In [27]:
strvar[:3]

'Pyt'

In [28]:
strvar[2:5]

'tho'

In [30]:
strvar[1:5:3]

'yo'

 [] # a single element is taken
 [:] # elements between start and end are retrieved
 [::] # elements between the start and end values are taken by skipping according to the value int he third part

In [31]:
len(strvar)

6

In [41]:
strvar = "Learn " + strvar
strvar

'Learn Python'

In [42]:
strvar * 5

'Learn PythonLearn PythonLearn PythonLearn PythonLearn Python'

In [44]:
strvar

'Learn Python'

In [49]:
print(strvar.upper())
print(strvar.lower())
print(strvar.split("n"))
print(strvar.split(sep = "n", maxsplit = 1))

LEARN PYTHON
learn python
['Lear', ' Pytho', '']
['Lear', ' Python']